doctype xml
html(xmlns='http://www.w3.org/1999/xhtml' xmlns:epub='http://www.idpf.org/2007/ops')
    head
        title= title
        meta(charset='utf-8')
    body
        section(epub:type='frontmatter toc')
            header
                h1 Содержание
            nav#toc(epub:type='toc')                
                ol
                    each chapter in chapters
                        li(id!=chapter.id)
                            a(href!=chapter.id+'.xhtml')= chapter.title