doctype xml
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops")
    head
        title= title
        style(type="text/css").
            img{display:inline-block;width:auto;height:auto;max-width:100%;max-height:100%;page-break-before:avoid;page-break-after:auto;page-break-inside:avoid;}
    body !{text}
