doctype html
body
    header
        p= title
    each p in parts
        if p.text && p.text.text
            section
                header
                    p= p.title.trim()
                | !{p.text.text}